@use "../abstracts/" as a;

#material-list {
  list-style: none;
  padding: 0;

  font-family: a.$body-font;
}
li {
  padding: 10px;
  //   padding-left: 50px;
  border-radius: 5px;
  margin-bottom: 5px;

  &:hover {
    background: a.$purple;
    color: a.$white;
    cursor: pointer;
  }
}
